In [1]:
import sqlite3 as sq
import datetime

In [2]:
con = sq.connect("contactmanagementsystem.db")

In [3]:
cur = con.cursor()

In [4]:
cur.execute("""create table if not exists contact
               ( cid int primary key,
                 fname text,
                 lname text,
                 contact number,
                 email text,
                 city text
                 check ( email like '%_@_%._%')
                );""")

In [5]:

cur.execute("""create table if not exists details_log
                (
                    
                    fname text,
                    lname text,
                    newcontact number,
                    oldcontact number,
                    datetime text,
                    operation text
                    
                )""")

In [6]:

cur.execute("""create trigger if not exists insertdata
               after insert on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,'NULL',datetime('now'),'insert');
               end;
                   """)

In [7]:
cur.execute("""create trigger if not exists deletedata
               after delete on contact
               begin
                   insert into details_log
                   values(old.fname,old.lname,'NULL',old.contact,datetime('now'),'delete');
               end;
                   """)

In [8]:
cur.execute("""create trigger if not exists updatedata
               after update on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,old.contact,datetime('now'),'update');
               end;
                   """)

In [9]:
def updaterecord(cd):
    newcon=int(input("Enter new Contact Number:"))
    cur.execute(f"Update contact set contact={newcon} where cid={cd};")

In [10]:
def deleterecord(cd):
    cur.execute(f"delete from contact where cid={cd}")

In [11]:
def searchrecord(cd):
    cur.execute(f"select * from contact where cid={cd}")
    row=cur.fetchall()
    print(row)

In [12]:
cur.execute("""insert into contact values
                (101,'priya','patel',6744521720,'patel@gmail.com','delhi'),
                (102,'suha','patel',3457685904,'hana@gmail.com','bardoli'),
                (103,'ram','shah',7665445645,'patel@gmail.com','madhii'),
                (104,'ruhina','gamit',4562879567,'ruh@gmail.com','surat'),
                (105,'sunil','rathod',6532212256,'nil@gmail.com','bardoli');""")

In [13]:
cur.execute("select * from contact")
row=cur.fetchall()
for i in row:
    print(f"\nID:{i[0]}\nFname:{i[1]}\nLname:{i[2]}\nContact:{i[3]}\nEmail:{i[4]}\ncity:{i[5]}")

ID:101
Fname:priya
Lname:patel
Contact:6744521720
Email:patel@gmail.com
city:delhi

ID:102
Fname:suha
Lname:patel
Contact:3457685904
Email:hana@gmail.com
city:bardoli

ID:103
Fname:ram
Lname:shah
Contact:7665445645
Email:patel@gmail.com
city:madhii

ID:104
Fname:ruhina
Lname:gamit
Contact:4562879567
Email:ruh@gmail.com
city:surat

ID:105
Fname:sunil
Lname:rathod
Contact:6532212256
Email:nil@gmail.com
city:bardoli